{% extends 'layout.html' %}

{% block js %}
  <script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}


{% block header %}
<h3>{% block title %}PNews{% endblock %}</h3>
{% endblock %}

{% block content %}{% endblock %}


{% block body %}

<div class="col-12 col-sm-6 col-lg-8 col-md-8 bg-primary left">
    <h2>Channel Title: </h2>
    
    <div class="row justify-content-center">

        <div class="row justify-content-center">
            {% if channel %}
            {% for story in channel %}
          
            <div class="col-12">
            <h2>Title ==> {{story.title}}</h2>
            <h4><a href="#" class="badge badge-warning">Author: {{story.author}}</a></h4>

            <h2>{{story.text}}</h2>
            </div>
    
            {% endfor %}
            {% endif %}
        </div>
        
    </div>

    <div class="row justify-content-left" style="background-color: violet">
        {% if storys == "No Story's." %}

        <div class="col-lg-4 col-md-6 ">
               
            <h2>*{{storys}}</h2>
        </div>


        {% else %}
        {% for story in storys %}

        <div class="col-12">
            
            <h4><a href="#" class="badge badge-warning">Story # {{storys.index(story) + 1}}</a></h4>
            <h1>Title: {{story.title}}</h1>
            <h2>*{{story.text}}</h2>
        </div>
        
        {% endfor %}
        {% endif %}
    </div>


</div>

<div class="col-12 col-lg-4 col-sm-6 col-md-4 bg-danger right">

    <form id="form" class="form-inline justify-content-center" action="" method="">
    <div class="form-group mx-sm-3 mb-2">
        <label for="story" class="sr-only">Story</label>
        <input type="text" name="message" class="form-control" id="story" placeholder="Title Of Your New Story..."
                required>
    </div>


    <button id="button" type="submit" class="btn btn-warning mb-2">Create New Story</button>
    </form>

    <form id="form" class="form-inline justify-content-center" action="" method="">
    <div class="form-group mx-sm-3 mb-2">
        <label for="messsage" class="sr-only">Message</label>
        <input type="text" name="message" class="form-control" id="message" placeholder="Enter New Message"
                required>
    </div>

    <button id="button" type="submit" class="btn btn-primary mb-2">Create New Message</button>
    </form>

    <div class="row justify-content-center" style="background-color: white">
        {% if messages == 'No Messages.' %}

        <div class="col-12">
               
            <h2>*{{messages}}</h2>
        </div>


        {% else %}
        {% for message in messages %}

        <div class="col-12 message-box">
            
            <h4><a href="#" class="badge badge-warning">Message # {{messages.index(message) + 1}}</a></h4>
            <h2><*User>{{message.text}}</h2>
        </div>
        
        {% endfor %}
        {% endif %}
    </div>

</div>

<hr>
<div id="body">
</div>

{% endblock %}




<!---
extend layout


container left

row 1

col

channel title

list of Pstories
and/or
list of Pnews links

row 2

col

for message in messages 

    row 

    col  

    message(one from 100 in session)



container right 

row 1

col  

    if channel owner 
    row a
    col
    create Pstory form

    row b 
    col
    add link to Pnews links
    
    else
    row a
    col
    related channels list
    
row 2

col

    create new message form 

--->