{% extends 'layout.html' %}

{% block js %}
  <script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}

{% block header %}
<h3>{% block title %}PNews{% endblock %}</h3>
{% endblock %}

{% block content %}{% endblock %}


{% block body %}


<div class="col-12 col-sm-6 col-lg-8 col-md-8 bg-danger left">
    <h2>Channels:</h2>
    <div class="row justify-content-end">
        {% for channel in channels %}
        <div class="col-11 story-bottom">
            <h2>*</h2>
            <h4><a href="{{ url_for('channelPage', channel_title=channel.title) }}" class="badge badge-warning">{{channel.title}}</a></h4>
            <h3>By {{channel.author}}</h3>
            <h5>{{channel.text}}</h5>
        </div>
        {% endfor %}
    </div>
</div>

<div class="col-12 col-lg-4 col-sm-6 col-md-4 bg-success right">

    <form class="form-inline justify-content-center" action="{{ url_for('createChannel') }}" method="POST">
    	<div class="form-group mx-sm-3 mb-2">
    		<label for="channelname" class="sr-only">Channel</label>
    		<input type="text" name="C_name" class="form-control" id="booktitle" placeholder="Enter Channel Name"
                required>
        </div>
        <button id="button" type="submit" class="btn btn-primary mb-2">Create A Channel</button>
    </form>              
</div>

<hr>
<div id="body">
</div>

{% endblock %}


<!---
extend layout


container left 

for channel in channels
row

col 

channel link  



container right 

row 
    
col  

if user in session 
create channel form
create a new channel button

--->

