{% extends 'layout.html' %}

{% block js %}
  <script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}

{% block header %}
<h3>{% block title %}Channels{% endblock %}</h3>
{% endblock %}

{% block content %}{% endblock %}


{% block body %}


<div class="col-12 col-sm-6 col-lg-8 col-md-8 bg-danger left">
    <h2>Channels:</h2>
    <div class="row justify-content-end channels-list-info">
        {% for channel in channels %}
        <div class="col-11 story-bottom channel-list-info">
            <h2>*</h2>
            <h4><a href="{{ url_for('channelPage', channel_title=channel.title) }}" class="badge badge-warning">{{channel.title}}</a></h4>
            <h3>By {{channel.user.name}}</h3>
            <h5>{{channel.text}}</h5>
        </div>
        {% endfor %}
    </div>
</div>

<div class="col-12 col-lg-4 col-sm-6 col-md-4 bg-success right">

    {% if not current_user.is_anonymous %}
    <form id="form" class="form-inline justify-content-center" action="{{url_for('createStory')}}" method="get">
        <button id="button" type="submit" class="btn btn-warning mb-2">Create/Add New Story</button>
    </form>    
    {% endif %}    
</div>

{% endblock %}

