<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style>
  </style>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <title>PNews{% block title %}{% endblock %}</title>
</head>
<body>
  <div class="container-fluid">
    <div class="header">

      <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">
          <h3>{% block header %}Comic-Book-Anime{% endblock %}</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('Category') }}">Category</a>
            </li>
            {% if g.user %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('channel_create') }}">Create Channel</a>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('register') }}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Log In</a>
            </li>
            {% endif %}
          </ul>
          <span class="navbar-text">
            {% if g.user %}
            Welcome
            {{ (g.user['name']).upper() }}
            !!!
            {% endif %}
            Always Be Amazing!!!

          </span>
        </div>
      </nav>
    </div>

    {% if error %}

    <h3>{{error}}</h3>

    {% endif %}


    {% if success %}

    <h3>{{success}}</h3>

    {% endif %}

    {% block content %}{% endblock %}

    <footer class="footer bg-warning">
      <div class="container-row">
        <div class="row">
          <div class="col-8 col-md-9">
            <h6>&copy; Phyrekx, Inc ... JDavidZ 2018</h6>
          </div>
          <div class="col-4 col-md-3">
            <p><a class="bg-dark" href="#">Belmar, nj</a></p>
          </div>
        </div>
      </div>
    </footer>

  </div>
  
  <!-- Optional JavaScript -->

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script>

  </script>
</body>

</html>
    



Header  
with sign in and registration nav on left corner


category nav menue 


container one row two columms


left col news story links
or 
list of channels with links
or
list of categories
or 
for channel
list of Pstories
and 
list of 100 messages
or 
list of Pnews links
and 
list of 100 messages
or 
for Pstory or Pnews link
story or link
and 
list of 100 comments




right col slider bar to control fed
or 
create channel form 
or
create category form
or
for channel
create Pstory form
and
add news link to Pnews links 
and
create messege form
or 
related channels list
and 
create message form
or
for Pstory or Pnews link
related Pstories list
and 
create comment form



footer



