{% extends 'layout.html' %}

{% block header %}
<h3>{% block title %}PNews{% endblock %}</h3>
{% endblock %}

{% block content %}{% endblock %}


{% block body %}

<hr>
<div id="body">
</div>


<div class="col-12 col-sm-6 col-lg-8 col-md-8 bg-info left">
    <h2>PStory:</h2>
    <div class="row justify-content-end">

        {% if story %}
        <div class="col-lg-4 col-md-6 ">
            <h2>*</h2>
            <h4><a href="{{ url_for('storyPage', story_title=story.title) }}" class="badge badge-warning">{{story.title}}</a></h4>
        </div>

        <div class="col-lg-5 col-md-5 ">
            <h3><span class="badge badge-pill badge-light">PStory Title: </span></h3>
            <h4><a href="#" class="badge badge-warning">{{stoy[0].title}}</a></h4>
        </div>
        <div class="col-lg-5 col-md-5">
            <h3><span class="badge badge-pill badge-light">PStory Author: </span></h3>
            <h4><a href="#" class="badge badge-warning">{{stoy[0].author}}</a></h4>
        </div>
        <div class="col-lg-5 col-md-5">
            <h3><span class="badge badge-pill badge-light">Year Published: </span></h3>
            <h4><a href="#" class="badge badge-warning">{{story[0].year}}</a></h4>
        </div>
        <div class="col-lg-5 col-md-5">
            <h3><span class="badge badge-pill badge-light">PStory Text : </span></h3>
            <h4><a href="#" class="badge badge-warning">{{story[0].text}}</a></h4>
        </div>

        {% endif %}
    </div>

    <div class="row justify-content-end">
        {% for comment in comments %}
        <div class="col-lg-4 col-md-6 ">
            <h2>*</h2>
            <h4><a href="" class="badge badge-warning">{{comment.text}}</a></h4>
        </div>
        {% endfor %}
    </div>

</div>

<div class="col-12 col-lg-4 col-sm-6 col-md-4 bg-danger right">

          <form id="form" class="form-inline justify-content-center" action="" method="">
            <div class="form-group mx-sm-3 mb-2">
              <label for="comment" class="sr-only">Comment</label>
              <input type="text" name="comment" class="form-control" id="comment" placeholder="Enter New Comment"
                required>
            </div>

            <button id="button" type="submit" class="btn btn-primary mb-2">Create New Comment</button>
          </form>
</div>


{% endblock %}



extend layout


container left

row 1

col

Pstory title
or 
Pnews link title


row 2

col

for comment in comments 

    row 

    col  

    comment(one from 100 in session)



container right 

row 1

col  

    row 
    col
        related Pstories list
        or
        related Pnews links
    
row 2

col

    create new comment form 

