{% extends 'layout.html' %}

{% block js %}
  <script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}


{% block header %}
<h3>{% block title %}PNews{% endblock %}</h3>
{% endblock %}

{% block content %}{% endblock %}


{% block body %}

<div class="col-12 col-sm-6 col-lg-8 col-md-8 bg-info left">
    <h2>PStory:</h2>
    <div class="row justify-content-center story-info">     
        {% if story %}
        <div class="col-lg-5 col-md-5 story-pdiv">			
            <h3><span class="badge badge-pill badge-light">PStory Title: </span></h3>
            <h4><a href="#" class="badge badge-warning">{{story.title}}</a></h4>
        </div>
        <div class="col-lg-5 col-md-5 story-pdiv">
            <h3><span class="badge badge-pill badge-light">PStory Author: </span></h3>
            <h4><a href="#" class="badge badge-warning">{{story.author}}</a></h4>
        </div>
        <div class="col-lg-5 col-md-5 story-pdiv">
            <h3><span class="badge badge-pill badge-light">Year Published: </span></h3>
            <h4><a href="#" class="badge badge-warning">{{story.year}}</a></h4>
        </div>
        <div class="col-10 story-pdiv">
            <h3><span class="badge badge-pill badge-light">PStory Text : </span></h3>
            <h4><a href="#" class="badge badge-warning">{{story.text}}</a></h4>
        </div> 
        {% endif %}       
    </div>


    <div class="row justify-content-left story-links" style="background-color: violet">
        {% if links %}
        {% if links == "No links." %}

        <div class="col-lg-4 col-md-6 story-link">
               
            <h2>*{{links}}</h2>
        </div>


        {% else %}
        {% for link in links %}

        <div class="col-12 story-link">
            
            <h4><a href="#" class="badge badge-warning">link # {{links.index(link) + 1}} - From {{link.section}}.</a></h4>
            <h1>Title: {{link.title}}</h1>
            <h2>*{{link.abstract}}</h2>

        </div>
        
        {% endfor %}
        {% endif %}
        {% endif %}
    </div>

    
</div>

<div class="col-12 col-lg-4 col-sm-6 col-md-4 bg-danger right">
	{% if not g.channelowner %}
    <form id="form" class="form-inline justify-content-center" action="" method="">
    <button id="button" type="submit" class="btn btn-warning mb-2">Create/Add New Story</button>
    </form>
    {% endif %}

    <form id="form" class="form-inline justify-content-center" action="" method="">
    <div class="form-group mx-sm-3 mb-2">
    	<label for="comment" class="sr-only">Comment</label>
        <input type="text" name="comment" class="form-control" id="comment" placeholder="Enter New Comment"
                required>
    </div>

    <button id="button" type="submit" class="btn btn-primary mb-2">Create New Comment</button>
    </form>

    <div class="row justify-content-center story-comments" style="background-color: white">
        {% if comments == 'No Comments.' %}

        <div class="col-12 story-comment">
               
            <h2>*{{comments}}</h2>
        </div>


        {% else %}
        {% for comment in comments %}

        <div class="col-12 comment-box story-comment">
            
            <h4><a href="#" class="badge badge-warning">Comment # {{comments.index(comment) + 1}}</a></h4>
            <h5><*User>{{comment.text}}</h5>
        </div>
        
        {% endfor %}
        {% endif %}
    </div>

</div>


{% endblock %}



<!---

extend layout


container left

row 1

col

Pstory title
or 
Pnews link title


row 2

col

for comment in comments 

    row 

    col  

    comment(one from 100 in session)



container right 

row 1

col  

    row 
    col
        related Pstories list
        or
        related Pnews links
    
row 2

col

    create new comment form 

--->