{% extends 'layout.html' %}

{% block js %}
    <script src="{{ url_for('static', filename='storys_list.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script id="story" type="text/x-handlebars-template">
        {% raw -%}
        <div class="col-11 story-bottom story-list-info story">
            <h4><a href={{ content1 }} class="badge badge-danger">{{ content2 }}</a></h4>
            <h3>By: {{content3}}</h3>
            <h5>Story Description: </h5>
            <h4>{{content4}}</h4>
        </div>
        {%- endraw %}
    </script>
{% endblock %}

{% block header %}
{% block title %}Storys{% endblock %}
{% endblock %}

{% block content %}{% endblock %}


{% block body %}


<div class="col-12 col-sm-6 col-lg-8 col-md-8 bg-warning left">
    <h2>Storys:</h2>
    <div id="storys" class="row justify-content-end storys-list-info">
        {% for story in storys %}
        <div class="col-11 story-bottom story-list-info">
            <h4><a href="{{ url_for('storyPage', story_id=story.id) }}" class="badge badge-danger">{{story.title}}</a></h4>
            <h3>By: {{story.user.name}}</h3>
            <h5>Story Description: </h5>
            <h4>{{story.story_text}}</h4>
        </div>
        {% endfor %}
    </div>
</div>

<div class="col-12 col-lg-4 col-sm-6 col-md-4 bg-success right">

    {% if not current_user.is_anonymous %}
    <form id="form" class="form-inline justify-content-center" action="{{url_for('createStory')}}" method="get">
        <button id="button" type="submit" class="btn btn-warning mb-2">Create/Add New Story</button>
    </form>    
    {% endif %}

</div>


{% endblock %}
