{% extends 'layout.html' %}

{% block js %}
  <script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}

{% block header %}
<h3>{% block title %}PNews{% endblock %}</h3>
{% endblock %}

{% block content %}{% endblock %}


{% block body %}


<div class="col-12 col-sm-6 col-lg-8 col-md-8 bg-danger left">
    <h2>Storys:</h2>
    <div class="row justify-content-end storys-list-info">
        {% for story in storys %}
        <div class="col-11 story-bottom story-list-info">
            <h2>*</h2>
            <h4><a href="{{ url_for('storyPage', story_title=story.title) }}" class="badge badge-warning">{{story.title}}</a></h4>
            <h3>By {{story.author}}</h3>
            <h5>{{story.text}}</h5>
        </div>
        {% endfor %}
    </div>
</div>

<div class="col-12 col-lg-4 col-sm-6 col-md-4 bg-success right">

    <form class="form-inline justify-content-center" action="" method="POST">
    	<div class="form-group mx-sm-3 mb-2">
    		<label for="storyname" class="sr-only">Story</label>
    		<input type="text" name="S_name" class="form-control" id="storytitle" placeholder="Enter Story Name"
                required>
        </div>
        <button id="button" type="submit" class="btn btn-primary mb-2">Create A Story</button>
    </form>              
</div>

<hr>
<div id="body">
</div>

{% endblock %}
